<div class="container">
  <div class="card">


    <ng-container *ngIf="!isCompleted">
      <div class="d-flex justify-content-around py-3">
        <div class="questions-remain">
          <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionsList.length}}</span>
        </div>
      </div>

      <div class="progress mb-3">
        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="question">
        <div class="card">
          <h3>{{questionsList[currentQuestion]?.questionText}}</h3>
        </div>
      </div>

      <div class="options">
        <ol *ngFor="let option of questionsList[currentQuestion]?.options">
          <li (click)="answer(currentQuestion+1, option)">
            <div class="card">
              {{option.text}}
            </div>
          </li>
        </ol>
      </div>

      <div class="d-flex justify-content-between">
        <button [disabled]="currentQuestion===0" class="btn" (click)="previousQuestion()"><i class="fa text-primary fa-chevron-left fa-2x" aria-hidden="true"></i></button>
        <button class="btn" (click)="resetQuestionnaire()">RESET QUESTIONNAIRE</button>
        <button [disabled]="currentQuestion === questionsList.length-1" class="btn" (click)="nextQuestion()"><i class="fa text-primary fa-chevron-right fa-2x" aria-hidden="true"></i></button>
      </div>
    </ng-container>

    <ng-container *ngIf="isCompleted">
      <div class="d-flex justify-content-around py-3">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>
            You have completed the questionnaire.<br><br>
            Results:<br>
          </h3>
          <p>Question attempted: {{questionsAttempted}} of {{questionsList.length}} </p>
          <p>Answered correct: {{correctAnswers}} </p>
          <p>Answered wrong: {{incorrectAnswers}} </p>
          <button class="btn" (click)="resetQuestionnaire()">TRY AGAIN</button>
        </div>
      </div>
    </ng-container>

  </div>
</div>
